<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <img src="{{ url_for('static', filename='svg/sheepbaby.png')}}" onerror="this.onerror=null; this.src='get_app-24px.png'" alt="" style="vertical-align:middle" >
<img src="{{ url_for('static', filename='svg/sheepfemale.png')}}" onerror="this.onerror=null; this.src='get_app-24px.png'" alt="" style="vertical-align:middle" >
<img src="{{ url_for('static', filename='svg/sheepmale.png')}}" onerror="this.onerror=null; this.src='get_app-24px.png'" alt="" style="vertical-align:middle" >
<img src="{{ url_for('static', filename='svg/sheepill.png')}}" onerror="this.onerror=null; this.src='get_app-24px.png'" alt="" style="vertical-align:middle" >
<img src="{{ url_for('static', filename='svg/sheepold.png')}}" onerror="this.onerror=null; this.src='get_app-24px.png'" alt="" style="vertical-align:middle" >

</body>
</html>